.decoder-base
{
    margin-bottom: 1px;
    margin-left : 1px;
    width: 800px;
    height: 200px;
    position: fixed;
    bottom: 0;
    z-index: 2147483647 !important;
    display: flex;
    flex-direction: column;
}

.decoder-head {
    flex-shrink: 0;
}

.decoder-content {
    overflow-y: auto;
}

.decoder-item {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 1em;
}